.btn {
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
}
.btn-card {
    background-color: $ricardo-orange;
    color: white !important;
    padding: .5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.load-next {
    padding: 5rem;
    width: 100%;
    display:flex;
    justify-content: center;
    & button {
        padding: 3rem;
    }
}