$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$default-font-size: 1.6rem;

$background-main: rgb(245, 245, 243);
$background-nav: rgb(255, 255, 255);

$border-frozen-green: rgb(67, 146, 146);
$border-frozen-purlple: rgb(102, 118, 204);

$ricardo-orange: rgb(223, 122, 50);
//TODO:SET THE MAIN COLOR PALETTE
$theme-background-dark: rgb(63, 54, 58);
$theme-background-dark-soft: rgb(36,37,38);
