$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$default-font-size: 1.6rem;

$background-main: rgb(245,245,243); 
$background-nav: rgb(255,255,255);

$border-frozen-green: rgb(67,146,146);
$border-frozen-purlple: rgb(102, 118, 204);

//TODO:SET THE MAIN COLOR PALETTE

