.article {
  cursor: pointer;
  position: relative;
  width: 20rem;
  height: 300px;
  margin: 1rem;
  overflow: hidden;
  border-radius: 8px;
  background-color: $background-main;
  box-shadow: 10px 5px 5px rgba(black, 0.2);
  & a:visited, a:link, a:hover, a:active {
    text-decoration: none;
    color: unset;
  }
  &-head {
    position: relative;
    height: 45%;
    &__img {
      width: 20rem;
      height: 100%;
    }
    &__flag {
      position: absolute;
      z-index: 500;
      left: 75%;
      top: 10%;
      height: 35px;
      width: 35px;
      font-size: 1.9rem;
      border-radius: 50%;
      background-color: rgba($color: whiteSmoke, $alpha: .5);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      & i.red{
        color: $ricardo-orange;
      }
    }
  }
  &-body {
    height: 55%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 1.2rem;
    justify-content: space-around;
    font-weight: 600;
    @include responsive(phone) {
      font-size: 1.6rem;
    }
    &__date p:first-child > span:first-child {
      font-weight: 400;
    }
    &__price {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
