.hero {
  position: relative;
  text-align: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateY(-5%);
  @include responsive(tab-port) {
    flex-wrap: wrap;
  }
  &-heading {
    height: 80%;
    text-align: left;
    flex: 0 0 50%;
    z-index: 1;
    * {
      margin-bottom: 2rem;
    }
    &__title {
      font-size: 10rem;
    }
    &__tertiary {
      font-size: 3rem;
    }
    &__paragraph {
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
    }
    @include responsive(tab-land) {
      flex: 0 0 70%;
      span {
        background-color: whitesmoke;
        padding: 1rem;
        color: $ricardo-orange;
      }
    }
  }
  &-img {
    height: 100%;
    flex: 0 0 50%;
    & img {
      width: 50rem;
      height: 60rem;
    }
    @include responsive(tab-land) {
      opacity: 0.4;
      position: absolute;
      z-index: 0;
      //   top: -18%;

      & img {
        width: 50rem;
        height: 60rem;
      }
    }
  }
}

.features {
  height: 200vh;
  width: 100%;
  position: relative;
  padding: 3rem;
  margin-bottom: 18rem;
  @include responsive(tab-land) {
    margin-bottom: 10rem;
  }
  @include responsive(phone) {
    margin-bottom: 60rem;
    margin-top: 0;
  }
  @include responsive(phone-land) {
    // display: flex;
    margin-top: 20rem;
  }
  @include responsive(tab-port) {
    margin-bottom: 70rem;
  }
}
.card-home--1 {
  top: 5%;
  & img {

  }
}
.card-home--2 {
  top: 15%;
  right: 0%;
}
.card-home--3 {
  top: 55%;

  // &-head {
  //   flex: 0 0 45%;
  // }
}
.card-home--4 {
  top: 70%;
  right: 0%;
}
.card-home {
  position: absolute;
  height: 60rem;
  background-color: $background-nav;
  width: 40rem;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(10%);
  &.dark {
    background-color: $theme-background-dark-soft;
  }
  @include responsive(tab-port) {
    position: static;
    margin: 0 auto;
  }
  @include responsive(phone-land) {
    position: absolute;
    // display: flex;
  }
  @include responsive(phone) {
    position: static;
    margin: 0 auto;
  }
  &-head {
    flex: 0 0 50%;
    width: 100%;
    overflow: hidden;
    &__img {
      height: 100%;
      width: 100%;
    }
  }
  &-body {
    flex: 0 0 50%;
    //   background-color: olive;
    padding: 1rem;
    &__title {
      margin-top: 2rem;
      font-size: 4rem;
    }
    &__content {
      font-weight: 300;
      margin-top: 2rem;
      font-size: 2rem;
      letter-spacing: 0.1rem;
    }
  }
}

.slider {
  height: 100vh;
  background-color: olivedrab;
  width: 100%;
}

.background-red {
  background-color: orangered;
}

@include responsive(phone) {
  .default-items {
    transform: translateY(-2%);
  }
}
