.header {
  // position: fixed;
  width: 100%;
  background-color: $background-main;
  display: flex;
  height: 60px;
  justify-content: space-between;
}
.logo {
  flex: 0 0 20%;
  height: inherit;
  padding: 1.8rem 1.2rem;
  &__link {
  }
  &__svg {
    width: 11.5rem;
  }
}
.nav {
  text-align: end;
  flex: 0 0 80%;

  @include responsive(tab-port) {
    flex: unset;
  }
  &-list {
    height: 100%;
  }
  &-item {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    background-color: teal;
    color: whitesmoke;

    padding: 2rem;
    height: 95%;
    width: 20rem;
    margin-right: 5px;
  }
}
