.header {
  // position: fixed;
  width: 100%;
  background-color: $background-main;
  display: flex;
  height: 60px;
  justify-content: space-between;
}
.logo {
  flex: 0 0 20%;
  height: inherit;
  padding: 1.8rem 1.2rem;
  &__link {
  }
  &__svg {
    width: 11.5rem;
  }
}
.nav {
  text-align: end;
  flex: 0 0 80%;

  @include responsive(tab-port) {
    flex: unset;
  }
  &-list {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    // align-items: center;
  }
  &-item {
    position: relative;
    align-self: center;
    width: 10rem;
    height: 100%;    
    margin-right: 5px;
    color: teal;
    font-size: 3rem;
    transition: all .3s;
    i:not(.btn-theme > i) {
      position: absolute;
      @include absoluteCenter
    }
    &:hover:not(.btn-theme) {
      background-color: $ricardo-orange;
      color: whitesmoke;
    }
    &.btn-theme {
      background-color: gray;
      height: 50%;
      display: flex;
      position: relative;
      text-align: center;
      align-items: center;
      border-radius:20px;
      cursor: pointer;
      width: 50px;
      i {
        font-size: 2rem;
        flex: 0 0 50%;
      }
      
      i.fa-sun {
        color: yellow;
      }
      i.fa-moon {
        color: whitesmoke;
      }

      button {
        position: absolute;
        border-radius: 50%;
        height: 92%;
        left: 2%;
        width: 50%;
        cursor: pointer;
        transition: all .3s ;
        border: yellowgreen;
        &:hover {
          border: 5px solid yellowgreen;
        }        
      }
      // & button:focus {
      //   transform: translateX(100%);
      // }
      
    }
  }
  
}
.theme-toggle {
  // display: inline-block;
  background-color: yellow;
  // height: 100%;
}
.btn-theme {
  // display: inline-block;
  // margin-top: 5rem;
}


